# OSX
.DS_Store
THUMBS_DB

# XDE
.expo/

# VSCode
jsconfig.json

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml

# Cocoapods
example/ios/Pods

# Ruby
example/vendor/

# node.js
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log
yarn-error.log

# Turborepo
.turbo/

# Tamagui
./public/tamagui.css

# Generated
**/lib
**/dist
*.tsbuildinfo
.tamagui

# Next
.next
.vercel

# Wrangler project
.dev.vars
.wrangler/

# Lefthook
lefthook.yml

# Vitest
**/*.vitest-temp.json

# Rise
**/.rise
