@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Use color editor in https://docusaurus.io/docs/styling-layout
 */

 @layer base {
  :root {
    --ifm-color-primary: #b40817;
    --ifm-color-primary-dark: #a20715;
    --ifm-color-primary-darker: #990714;
    --ifm-color-primary-darkest: #7e0610;
    --ifm-color-primary-light: #c60919;
    --ifm-color-primary-lighter: #cf091a;
    --ifm-color-primary-lightest: #ea0a1e;
  }
  
  [data-theme='dark'] {
    --ifm-color-primary: #fd5811;
    --ifm-color-primary-dark: #f14a02;
    --ifm-color-primary-darker: #ee4902;
    --ifm-color-primary-darkest: #ec4802;
    --ifm-color-primary-light: #fd6b2c;
    --ifm-color-primary-lighter: #fd7439;
    --ifm-color-primary-lightest: #fe9061;
  }
 }

 @layer components {
  .rise-button {
    @apply drop-shadow-sm center hover:no-underline text-white hover:text-white bg-gradient-to-t from-secondary to-100% to-primary focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-lg px-5 py-2.5 text-center
  }
  .rise-button-outlined {
    @apply box-border drop-shadow-sm center border-2 -m-[2px] border-solid border-secondary  hover:no-underline hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-lg px-5 py-2.5 text-center
  }
  .rise-gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary inline-block text-transparent bg-clip-text
  }
 }



@layer utilities{
  .center{
    @apply content-center justify-center; 
  }
}


.mainWrapper {
  background-color: green;
}

.header-github-link {
  padding: 4px 8px;
}
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.header-twitter-link {
  padding: 4px 8px;
}
.header-twitter-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M459.186,151.787c0.203,4.501,0.305,9.023,0.305,13.565c0,138.542-105.461,298.285-298.274,298.285c-59.209,0-114.322-17.357-160.716-47.104c8.212,0.973,16.546,1.47,25.012,1.47c49.121,0,94.318-16.759,130.209-44.884c-45.887-0.841-84.596-31.154-97.938-72.804c6.408,1.227,12.968,1.886,19.73,1.886c9.55,0,18.816-1.287,27.617-3.68c-47.955-9.633-84.1-52.001-84.1-102.795c0-0.446,0-0.882,0.011-1.318c14.133,7.847,30.294,12.562,47.488,13.109c-28.134-18.796-46.637-50.885-46.637-87.262c0-19.212,5.16-37.218,14.193-52.7c51.707,63.426,128.941,105.156,216.072,109.536c-1.784-7.675-2.718-15.674-2.718-23.896c0-57.891,46.941-104.832,104.832-104.832c30.173,0,57.404,12.734,76.525,33.102c23.887-4.694,46.313-13.423,66.569-25.438c-7.827,24.485-24.434,45.025-46.089,58.002c21.209-2.535,41.426-8.171,60.222-16.505C497.448,118.542,479.666,137.004,459.186,151.787z'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-twitter-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.header-discord-link {
  padding: 4px 8px;
}
.header-discord-link::before {
  content: '';
  width: 24px;
  height: 24px;
  /* careful I have no idea why this border helps but the size looks better with it */
  border: 1px solid;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='2 2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.59 5.88997C17.36 5.31997 16.05 4.89997 14.67 4.65997C14.5 4.95997 14.3 5.36997 14.17 5.69997C12.71 5.47997 11.26 5.47997 9.83001 5.69997C9.69001 5.36997 9.49001 4.95997 9.32001 4.65997C7.94001 4.89997 6.63001 5.31997 5.40001 5.88997C2.92001 9.62997 2.25001 13.28 2.58001 16.87C4.23001 18.1 5.82001 18.84 7.39001 19.33C7.78001 18.8 8.12001 18.23 8.42001 17.64C7.85001 17.43 7.31001 17.16 6.80001 16.85C6.94001 16.75 7.07001 16.64 7.20001 16.54C10.33 18 13.72 18 16.81 16.54C16.94 16.65 17.07 16.75 17.21 16.85C16.7 17.16 16.15 17.42 15.59 17.64C15.89 18.23 16.23 18.8 16.62 19.33C18.19 18.84 19.79 18.1 21.43 16.87C21.82 12.7 20.76 9.08997 18.61 5.88997H18.59ZM8.84001 14.67C7.90001 14.67 7.13001 13.8 7.13001 12.73C7.13001 11.66 7.88001 10.79 8.84001 10.79C9.80001 10.79 10.56 11.66 10.55 12.73C10.55 13.79 9.80001 14.67 8.84001 14.67ZM15.15 14.67C14.21 14.67 13.44 13.8 13.44 12.73C13.44 11.66 14.19 10.79 15.15 10.79C16.11 10.79 16.87 11.66 16.86 12.73C16.86 13.79 16.11 14.67 15.15 14.67Z'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-discord-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}


